			{% if user.is_authenticated %}			
				<a href='comment'>Add comment</a>			
				<form action="{% url 'addcomment' %}" method="post">
		      			{{ form.as_p }}
		    			{% csrf_token %} 
		      			<input type="submit" value="add">
				</form>
			{% endif %}
			
			{% if event.comments %}
				<ul>
				{% for comment in event.comments%}
				<li>
					<p>{{comment.user}}</p>
					<p>{{comment.content}}</p>
				</li>
				{% endfor %}
				</ul>
			{% endif %}
			
<script type="text/javascript">
$("a[href='comment']").on("click",function(e){
		e.preventDefault()
		if ($(this).text()=="Add comment"){
			$(this).text("Close")
			$(".event_detail[style='display: block;'] form").show()
			
		}else{
			$(this).text("Add comment")
			$(".event_detail[style='display: block;'] form").hide()
		}
		
	});
</script>
