{% load i18n %}			
			{% if user.is_authenticated %}			
				<a href='comment'>{% trans "Add comment" %} </a>			
				<form action="{% url 'addcomment' %}" method="post">
		      			{{ form.as_p }}
		    			{% csrf_token %} 
		      			<input type="submit" value={% trans "add" %}>
				</form>
			{% endif %}
			
			{% if event.comments %}
				<ul>
				{% for comment in event.comments%}
				<li>
					<p>{{comment.user}}</p>
					<p>{{comment.content}}</p>
				</li>
				{% endfor %}
				</ul>
			{% endif %}
			

