{% extends "eventslist/base.html" %}
{% load staticfiles %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href={% static "css/base.css" %} >
	<link href='http://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,400italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Aladin' rel='stylesheet' type='text/css'>
{% endblock %}
{% block javascript %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src={% static "javascript/gmap3.min.js" %}></script>
	<script type="text/javascript" src={% static "javascript/home.js" %}></script>

{% endblock %}

{% block nav %}
<ul>
{% if user.is_authenticated %}	
	<li><a href="{% url 'eventslist.views.logoutpage' %}">Logout</a></li>
	<li><a class="form" href="{% url 'eventslist.views.addevent' %}">Add Event</a></li>
			
{% else %}
	<li><a class="form" href="{% url 'eventslist.views.register' %}">Registro</a></li>
	<li><a class="form" href="{% url 'eventslist.views.loginpage' %}">Login</a></li>

{% endif %}

	<li><a class="form" href="{% url 'eventslist.views.searchevents' %}">Search</a></li>
	
</ul>
{% endblock %}	

{% block content %}

	{% if search_parameters %}
	<ul>
{% for key, value in search_parameters %} 
  <li>{{key}} - {{value}}</li>
 {% endfor %}
</ul>
	{% endif %}
	<div id="container">
	{% if event_list %}
		{% include "eventslist/eventslist.html" %}
		<div id="map_detail"></div>
	{% endif %}
	<div>
	<div id="form_container">
	</div>



{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$( document ).ready(init());
</script>
{% endblock %}

