{% extends "eventslist/base.html" %}
{% load staticfiles %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href={% static "css/base.css" %} >
{% endblock %}
{% block javascript %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src={% static "javascript/gmap3.min.js" %}></script>

{% endblock %}

{% block nav %}
<ul>
{% if user.is_authenticated %}	
	{{user.username}}
	<li><a href="{% url 'eventslist.views.logoutpage' %}">Logout</a></li>
	<li><a class="form" href="{% url 'eventslist.views.addevent' %}">Add Event</a></li>
			
{% else %}
	<li><a class="form" href="{% url 'eventslist.views.register' %}">Registro</a></li>
	<li><a class="form" href="{% url 'eventslist.views.loginpage' %}">Login</a></li>

{% endif %}

	<li><a class="form" href="{% url 'eventslist.views.searchevents' %}">Search</a></li>
	
</ul>
{% endblock %}	

{% block content %}


	
	{% if event_list %}	
		<table>
		{% for event in event_list%}
			<tr>
				<td style="display:none;">{{ event.id }}</td>	
				<td style="display:none;">{{ event.location }}</td>				
				<td>{{ event.title }}</td>
				<td>{{ event.category }}</td>
			</tr>
		{% endfor %}
		</table>

		{% for event in event_list%}
		<ul class="event_detail" id="{{ event.id }}">
			<li>{{ event.title }}</li>
			<li>{{ event.description }}</li>
			<li>{{ event.category }}</li>
		</ul>
		{% endfor %}
		<div id="map_detail"></div>
	{% endif %}
	
	<div id="form_container">
	</div>



{% endblock %}
{% block scripts %}
 <script type="text/javascript">
	$( document ).ready(init());

	function init() {
	red_icon="http://maps.google.com/mapfiles/ms/icons/red-dot.png"	  
	blue_icon="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
		



	$("#map_detail").width("300px").height("150px").gmap3({
          map:{
            options:{
              center:[46.578498,2.457275],
              zoom: 5
            }
          }
        });

	$("tr:first").addClass("selected_event")
	id=($(".selected_event").find("td:first").html())
	$("#"+id).toggle()
	
	addMarkers()
	
	$(".form").on("click",function(e){
		e.preventDefault()
		$("#form_container").load($(this).attr("href"),function(){
		show_form_container()
		});
		
		
	});
	
	$("#form_container").on("submit","form",function(e){
		e.preventDefault();
		var postData = $(this).serializeArray();
		var formUrl = $(this).attr("action");
		$.ajax({
			url:formUrl,
			type:"POST",
			data:postData,
			success:function(data,textStatus,jqXHR)
			{
				if (data.indexOf("<html>")!=-1){
					document.write(data)
				}else{
					$("#form_container").html(data);
					show_close_link()
				}
			},
			error:function(jqXHR,textStatus,errorThrown)
			{}
		});
		e.unBind();
	});
	

	$("tr").click(function(){
		map=$("#map_detail")
		id=($(".selected_event").find("td:first").html())
		lat=$(".selected_event").find("td:eq(1)").html().substring($(".selected_event").find("td:eq(1)").html().indexOf("[")+1,$(".selected_event").find("td:eq(1)").html().lastIndexOf(","))
		lng=$(".selected_event").find("td:eq(1)").html().substring($(".selected_event").find("td:eq(1)").html().lastIndexOf(",")+1,$(".selected_event").find("td:eq(1)").html().indexOf("]"))
		map.gmap3({clear:{tag:[id]}});
		addMarker(map,id,blue_icon,lat,lng)
		
		$("#"+id).toggle()
		$(".selected_event").removeClass("selected_event")
		$(this).addClass("selected_event")
		id=($(this).find("td:first").html())
		$("#"+id).toggle()
		lat=$(this).find("td:eq(1)").html().substring($(this).find("td:eq(1)").html().indexOf("[")+1,$(this).find("td:eq(1)").html().lastIndexOf(","))
		lng=$(this).find("td:eq(1)").html().substring($(this).find("td:eq(1)").html().lastIndexOf(",")+1,$(this).find("td:eq(1)").html().indexOf("]"))
		map.gmap3({clear:{tag:[id]}});
		addMarker(map,id,red_icon,lat,lng)
		map.gmap3("get").setCenter(new google.maps.LatLng(lat,lng))
	});
	
	}

function addMarkers(){
		map=$("#map_detail")
		$("tr").each(function(){
			
			lat=$(this).find("td:eq(1)").html().substring($(this).find("td:eq(1)").html().indexOf("[")+1,$(this).find("td:eq(1)").html().lastIndexOf(","))
			lng=$(this).find("td:eq(1)").html().substring($(this).find("td:eq(1)").html().lastIndexOf(",")+1,$(this).find("td:eq(1)").html().indexOf("]"))
			if ($(this).hasClass("selected_event")){	
				icon_image=red_icon		
			}else{
				icon_image=blue_icon
			}
			tag_label=($(this).find("td:first").html())
			
			addMarker(map,tag_label,icon_image,lat,lng)
		});	
	}


	function addMarker(map,tag_label,icon_image,lat,lng){
		map.gmap3({
				marker:{
					latLng:[lat,lng],
					tag:tag_label,
					options:{
						draggable:true,
						icon: icon_image
					}
				}
		});
	}

	function show_form_container()
	{	
		$("body").append("<div id='shade'></div>")
		$("#form_container").css("display","block")
		show_close_link()
		
	}

	function show_close_link()
	{
		$("#form_container").append("<div class='close'><a href=''>X</a></div>");
		$(".close").click(function(){
			$("#shade").remove();
			$("#form_container").html("");
		});	
	}
	

</script>
{% endblock %}

