	
	  <form action="{% url 'searchevents' %}" method="post">
	      {{ form.as_p }}
              <p>Select location in the map</p>
              <div id="Location">Location:</div>
              <div id="my_map"></div>
	      {% csrf_token %} 
	      <input type="submit" value="search">
	  </form>
  
<script type="text/javascript">	
          $("#my_map").width("300px").height("150px").gmap3({
          map:{
            options:{
              center:[46.578498,2.457275],
              zoom: 3
            },
            events:{
              click: function(map,event){
                $("#Location").text("Location: Lat: "+event.latLng.lat()+" Lon: "+event.latLng.lng());
		$("#id_lat").val(event.latLng.lat());
		$("#id_lng").val(event.latLng.lng());
              }
            }
          }
        });
</script>
