*{
	margin: 0;
}

body{
	background-color:rgb(228, 235, 239);
}

header{
	background-color:white;
	padding: 0.4em;
	
}

h1{
	display: inline;
	padding: 0.3em;
	font-family: 'Sonsie One', cursive;
	font-size: 2em;
	color: red;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.47);
	
}

h2{
	display: inline;
	margin-left:0.3em;
	float: right;
}

nav{
	display: inline;
	
}

nav ul{
	display: inline;
	list-style: none;
	
}

nav ul li{
	display: inline;
	
}

nav ul li a{
	text-decoration: none;
	padding-top: 0.3em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	font-size: 2em;
	font-family: 'Aladin', cursive;
	color: #848484;
	
	border-radius: 0.4em;
	
}

nav ul li a:hover
{
	background:red;
	color: white
} 



.event_detail{
	display:none;
}

#messages{
	display: inline;
	float: right;
	background-color: red;
	color: white;
	width: 30%;
	font-size: 1.5em;
	margin-top:0.4em;
}

#messages ul{
	display: inline;	
}

#messages ul li{
	display: inline;	
}


.selected_event{
	background-color:red;
	color: white;
		
}


#form_container{
	position:absolute;
	top:0;
	background-color:white;
	width:20em;
	z-index:200;
	margin-left:auto;
	margin-right:auto;
}

#shade{
	z-index:100;
	background-color:black;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	opacity:0.9;
}

.close{
	position:absolute;
	top:0.5em;
	right:0.5em;
	font-size:1em;
	color: white;
}



#container{
	
}

#events_list{
	
	background-color: white;
	
	border-radius: 0.4em;
	box-shadow: 0.2em 0.2em 0.5em #888888;
	font-family: 'Pompiere', cursive;
	font-size: 1.6em;
}

#events_list table{
	
	margin-left: auto;
	margin-right: auto;
		
}

#events_list table tr td{
	border: solid grey 0.1em; 
}

#events_list_control{
	text-align:center;
	border-top: solid 0.1em;
	background-color:red;
	color: white;
}

#events_list_control p{
	font-size:1.7em;
	font-family: 'Aladin', cursive;
	display:inline;
	text-decoration: none;
}

#events_list_control p a{
	color: white;
	text-decoration: none;
}

#events_list_control p:nth-child(2){
	margin-left:0.5em;
	margin-right:0.5em;
}

#events_list_control p:nth-child(3){
		
}



#container > ul{
	
}

#container ul[style*="display: block"] {
	
	background-color: white;
	
	border-radius: 0.4em;
	box-shadow: 0.2em 0.2em 0.5em #888888;
}

#container ul li{
	list-style: none;
}

#container ul[style*="display: block"] > li{
	padding:0.5em;
}

#container ul[style*="display: block"] > li:first-child{
	font-family: 'Pompiere', cursive;
	font-size: 2.5em;
	text-align:center;
}

#container ul[style*="display: block"] > li:nth-child(2){
	font-size:1.7em;
	color: grey;
	border-top: solid 0.1em;
	border-bottom: solid 0.1em;	
}

#container ul[style*="display: block"] > li:nth-child(3){
	font-size:1em;
	background-color:red;
	color:white;
	display:inline;
	border-radius: 0.4em;
	padding: 0.2em;
	position:absolute;
	top:0.5em;
	right:0.5em;
}

#container ul[style*="display: block"] > li:nth-child(4){
	text-align:center;
	border-bottom: solid 0.1em;
	margin-bottom: 1em;
		
}

#container ul[style*="display: block"] img{
	width:70%;
}

#container ul[style*="display: block"] > a{
	text-align:center;
	text-decoration: none;
	margin-left: 0.2em;
	padding-top: 0.3em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	font-size: 2em;
	font-family: 'Aladin', cursive;
	color: #848484;
	
	border-radius: 0.4em;
}

#container ul[style*="display: block"] a:hover
{
	background:red;
	color: white
}


.comments{
	margin-top: 0.6em;
	border-top: solid 0.1em;
}

.comments form{
	display:none;
}

.comments ul{
	padding:0;
	
}

.comments ul li{
	border: solid grey 0.1em; 
	border-radius: 0.4em;
	
	
}

.comments ul li p:first-child{
	font-size: 2em;
	font-family: 'Pompiere', cursive;
	color: grey;
}

.comments ul li p:nth-child(2){
	font-size: 1.5em;
	font-family: 'Pompiere', cursive;
}

#container ul[style*="display: block"] a{
	text-decoration:none;
	
	
}


#map_detail{

	border-radius: 0.4em;
	box-shadow: 0.2em 0.2em 0.5em #888888;
	

}

#form_container img{
	width:70%;
}

@media screen and (min-width: 1150px){
#events_list{
	width: 20%;
	display:inline;
	float:left;
	margin:0.3em;
	margin-right:2em;
}

#container > ul{
	width:40%;
}

#container ul[style*="display: block"] {
	position: relative;
	display:inline;
	float:left;
	margin:0.3em;
	padding: 0.1em;
}

#map_detail{
	display:inline;
	float:right;
	margin:0.3em;
	padding: 0.1em;
	width: 30%;
	height: 300px;
}

#toggle_map_detail{
	display: none;	
}

#back_to_list{
	display: none;
}

}

@media screen and (min-width: 780px) and (max-width: 1149px){

#events_list{
	width: 40%;
	display:inline;
	float:left;
	margin:0.3em;
	margin-right:2em;
}

#container > ul{
	width:50%;
}

#container ul[style*="display: block"] {
	position: relative;
	display:inline;
	float:left;
	margin:0.3em;
	padding: 0.1em;
	overflow: hidden;
}


#map_detail{
	display:inline;
	float:left;
	padding: 0.1em;
	width: 1px;
	height: 1px;
}



#toggle_map_detail{
		
}

#back_to_list{
	display: none;
}


}

@media screen and (max-width: 769px){
#events_list{
	width: 100%;
	display:inline;
	float:left;
	margin: auto;
	
}

#container > ul{
	width:1px;
	height:1px;
}

#container ul[style*="display: block"] {
	position: relative;
	display:inline;
	float:left;
	margin:0.3em;
	padding: 0.1em;
	overflow: hidden;
}


#map_detail{
	display:inline;
	float:left;
	padding: 0.1em;
	width: 1px;
	height: 1px;
}

#toggle_map_detail{
	display: none;	
}

#back_to_list{
	display: none;
}

}


