*{
	margin: 0;
}

body{
	background-color:rgb(228, 235, 239);
}

header{
	background-color:#A1FED1;
	
}

h1{
	display: inline;
}

h2{
	display: inline;
	margin-left:0.5em;
	
}

nav{
	display: inline;	
}

nav ul{
	display: inline;
	list-style: none;
	
}

nav ul li{
	display: inline;
	padding-left: 0.5em;
	border-left: solid 0.5em;
	font-size: 2em;
}

nav ul li a{
	text-decoration: none;
}

.event_detail{
	display:none;
}

#messages{
	
}


.selected_event{
	background-color:red;
}


#form_container{
	position:absolute;
	top:0;
	background-color:white;
	width:20em;
	z-index:200;
	margin-left:auto;
	margin-right:auto;
}

#shade{
	z-index:100;
	background-color:black;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	opacity:0.9;
}

.close{
	position:absolute;
	top:0.5em;
	right:0.5em;
	font-size:1em;
	color: white;
}

.comments form{
	display:none;
}

#container{
	
}

#events_list{
	background-color: white;
	display:inline;
	float:left;
	margin:0.3em;
	padding: 0.1em;
	border-radius: 0.4em;
	box-shadow: 0.2em 0.2em 0.5em #888888;
}

#events_list_control{
	text-align:center;
}

#events_list_control p{
	font-size:3em;
	display:inline;
}

#events_list_control p:nth-child(2){
	background-color:yellow;	
	margin-left:0.5em;
	margin-right:0.5em;
}

#events_list_control p:nth-child(3){
		
}


#container > ul{
	margin-left:2%;
	margin-right:2%;
	width:30%;
}

#container ul[style*="display: block"] {
	background-color: white;
	display:inline;
	float:left;
	margin:0.3em;
	padding: 0.1em;
	border-radius: 0.4em;
	box-shadow: 0.2em 0.2em 0.5em #888888;
}

#container ul li{
	list-style: none;
}

#container ul[style*="display: block"] > li{
	padding:0.5em;
}

#container ul[style*="display: block"] > li:first-child{
	font-size:2em;
	text-align:center;
}

#container ul[style*="display: block"] > li:nth-child(2){
	font-size:1.5em;
	color: grey;
}

#container ul[style*="display: block"] > li:nth-child(3){
	font-size:1em;
	background-color:blue;
	color:white;
	display:inline;
	border-radius: 0.4em;
	padding: 0.2em;
}

#container ul[style*="display: block"] > li:nth-child(4){
	text-align:center;
}

#container ul[style*="display: block"] img{
	width:70%;
}

.comments{
	margin-top:0.7em;
}

.comments ul{
	padding:0;
	
}

.comments ul li{
	border: solid grey 0.1em; 
	border-radius: 0.4em;
	
	
}

.comments ul li p:first-child{
	font-size:2em; 
}

#container ul[style*="display: block"] a{
	text-decoration:none;
	
	
}


#map_detail{
	
	float:left;
	margin:0.3em;
	padding: 0.1em;
	border-radius: 0.4em;
	box-shadow: 0.2em 0.2em 0.5em #888888;
	width: 30%;
	height: 300px;

}

#form_container img{
	width:70%;
}

@media screen and (min-width: 1150px){

#togglemapdetail{
	display:none;
}

#map_detail{
	display:block;
		
}

td:nth-child(5){
	display:none;
}

#container>ul{
	
	
}

}

@media screen and (min-width: 780px) and (max-width: 1149px){
#togglemapdetail{
	display:block;
	
}

#map_detail{
	display:none;
	width:60%;	
}

td:nth-child(5){
	display:none;
}

#container>ul{
	
	width:60%;
}

}

@media screen and (max-width: 779px){
#togglemapdetail{
	display:none;
	
}

/*Enlace para mostrar map/detail en pantallas pequeñas*/
td:nth-child(5){
	
}

#map_detail{
	
	width:90%;	
}

#container>ul{
	
	width:100%;
}

}











